body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
}

header {
    background-color: red;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 24px;
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
    display: none;
}

nav {
    display: flex;
    gap: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.content-section {
    display: none;
    padding: 20px;
}

.content-section.active {
    display: block;
}

@media (max-width: 600px) {
    nav {
        display: none;
        flex-direction: column;
        background-color: red;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
    }

    nav a {
        padding: 10px;
        border-top: 1px solid #fff;
    }

    .menu-icon {
        display: block;
    }
    .noticia img {
        width: auto;         
        height: auto;        
    }
    
}
